{% extends 'material/frontend/base_module.html' %}

{% block breadcrumbs_items %}
<a class="active" href="{% url 'polls:deleted_objects' %}">Deleted objects</a>
{% endblock %}

{% block content %}
<div class="left-panel">
    <div class="card">
        <div class="card-content">
            <table class="table bordered">
                <thead>
                    <tr>
                        {% for header in headers %}
                        <th>{{ header|title }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% if data %}
                        {% for row in data %}
                            <tr class="{% cycle 'odd' 'even' %}">
                                {% for item in row %}
                                <td>{{ item }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="{{ headers|length }}">No deleted objects</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
