{% extends 'polls/base_site.html' %}

{% block breadcrumbs_items %}
    <a class="active">Home</a>
{% endblock %}

{% block content %}
<div class="card">
<div class="card-content">
    <span class="card-title">Polls</span>
    {% if latest_question_list %}
        <div class="collection">
            {% for question in latest_question_list %}
            <a class="collection-item"
            href="{% url 'app_polls:question' question.id %}">
            <div class="valign-wrapper">
                {{ question.question_text }}
                {% if question.thumbnail %}
                    {% with img=question.thumbnail %}
                    <img class='thumbnail' src='{{img.url}}' alt='{{img.name}}'>
                    {% endwith %}
                {% endif %}
            </div>
            </a>
            {% endfor %}
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
</div>
{% endblock %}
