{% load static %}

{% include './includes/change_lang_form.html' %}
{% include './includes/top_nav.html' %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<p>
    <a class="active">Home</a>
</p>

<fieldset>
    <legend><h1>Polls</h1></legend>
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
            <li><a href="{% url 'app_polls:question' question.id %}">
                {{ question.question_text }}
                {% if question.thumbnail %}
                    {% with img=question.thumbnail %}
                    <img class='thumbnail' src='{{img.url}}' alt='{{img.name}}'>
                    {% endwith %}
                {% endif %}
            </a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</fieldset>
