{% extends 'material/frontend/base_site.html' %}

{% block title %}Polls{% endblock %}
{% block page_title %}Poll List{% endblock %}

{% block breadcrumbs_items %}
    <a class="active">Polls</a>
{% endblock %}

{% block main_content %}
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
{% endblock %}
