{% load static %}

{% include './includes/change_lang_form.html' %}
{% include './includes/top_nav.html' %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<p>
    <a href={% url 'app_polls:home' %}>Home</a> >
    <a class="active">{{ question.question_text }}</a>
</p>

<form action="{% url 'app_polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}
        {% if question.thumbnail %}
            {% with img=question.thumbnail %}
            <img class='thumbnail' src='{{img.url}}' alt='{{img.name}}'>
            {% endwith %}
        {% endif %}
        </h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <label for="choice{{ forloop.counter }}">
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <span>{{ choice.choice_text }}</span>
            </label><br>
        {% endfor %}
        {% if question.attachment_set.count %}
            <h2>Attachments</h2>
            <ul>
            {% for attachment in question.attachment_set.all %}
                <li><a href='{{attachment.file.url}}'>
                    {{attachment.file.name}}
                </a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </fieldset>
    <input type="submit" value="Vote">
</form>
