{% extends 'polls/base_site.html' %}

{% block breadcrumbs_items %}
    <a href="{% url 'app_polls:home' %}">Home</a>
    <a class="active">{{ question.question_text }}</a>
{% endblock %}

{% block content %}
<div class="card">
<form action="{% url 'app_polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <div class="card-content">
        <span class="card-title">
        <div class="valign-wrapper">
            {{ question.question_text }}
            {% if question.thumbnail %}
                {% with img=question.thumbnail %}
                <img class='thumbnail' src='{{img.url}}' alt='{{img.name}}'>
                {% endwith %}
            {% endif %}
        </div>
        </span>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <label for="choice{{ forloop.counter }}">
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <span>{{ choice.choice_text }}</span>
            </label><br>
        {% endfor %}
        {% if question.attachment_set.count %}
            <span class="card-title">Attachments</span>
            <ul>
            {% for attachment in question.attachment_set.all %}
                <li><a href='{{attachment.file.url}}'>
                    {{attachment.file.name}}
                </a></li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="card-action">
        <button class="btn waves-effect waves-light" type="submit" name="action">Vote</button>
    </div>
</form>
</div>
{% endblock %}
