{% extends "material/frontend/base_lockscreen.html" %}
{% load static i18n material_form %}

{% block css %}
{{ block.super }}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}{% trans 'Log in' %} - {{ block.super }}{% endblock %}
{% block page_title %}Django Material CMS{% endblock %}

{% block content %}
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    {% if form.layout %}
        {% form layout=form.layout %}
            {% part form.email prefix %}
                <i class="material-icons prefix">email</i>
            {% endpart %}
            {% part form.password prefix %}
                <i class="material-icons prefix">lock</i>
            {% endpart %}
        {% endform %}
    {% else %}
        {% form %}{% endform %}
    {% endif %}

    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link">
        <a href="{{ password_reset_url }}">{% trans 'Forgotten your password?' %}</a>
    </div>
    {% endif %}
    <div class="action right-align">
        <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
    </div>
</form>
{% endblock %}

{% block icon_wrapper %}
    <div class="logo">
        {% comment %} add/replace custom overlay logo here {% endcomment %}
        <i class="logo__icon material-icons">inventory</i>
    </div>
{% endblock %}
