{% extends 'material/frontend/base.html' %}
{% load i18n static settings %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        var r = document.querySelector(':root');
        var primaryColor = "{% get_setting request 'primary_color' %}";
        r.style.setProperty('--primary-color', primaryColor);
    </script>
{% endblock %}

{% block title %}{% trans "Polls" %}{% endblock %}
{% block page_title %}{% trans "Polls" %}{% endblock %}

{% block sidenav_items %}
    {{ block.super }}
    <li>
        <a href="{% url 'polls:settings' %}" class="collapsible-header" data-turbolink="false">
            Settings
            <i class="material-icons">settings</i>
        </a>
    </li>
    <li>
        <a target="_blank" href="{% url 'polls:home' %}" class="collapsible-header">
            Open Homepage
            <i class="material-icons">open_in_new</i>
        </a>
    </li>
{% endblock %}
