{% load material_form material_form_internal l10n %}

{% form layout=layout %}
    {% part form.has_max_vote_count prefix %}
    {% with toggle_id=form.has_max_vote_count.id_for_label  %}
    <script>
        $(document).on('change', '#{{ toggle_id }}', function(e) {
            let formSelector = "form :not(input[name=csrfmiddlewaretoken])";
            Turbolinks.visit(
                window.location.origin + window.location.pathname
                + `?${$(formSelector).serialize()}`
                + "#{{ toggle_id }}",
                {action: 'replace'}
            );
        });
    </script>
    {% endwith %}
    {% endpart %}
    {% part form.has_max_vote_count label %}
        <span{% attrs form.has_max_vote_count 'label' %}
        for="{{ form.has_max_vote_count.id_for_label }}"
        {% endattrs %}>{{ form.has_max_vote_count.label }}</span></label>
    {% endpart %}

    {% part form.max_vote_count control %}
    {% with bound_field=form.max_vote_count field=form.max_vote_count.field toggled=form.has_max_vote_count.value %}
        <input{% attrs bound_field 'widget' default field.widget.attrs %}
        id="id_{{ bound_field.html_name }}"
        name="{{ bound_field.html_name }}"
        type="{{ field.widget.input_type }}"
        {% if bound_field.errors %}class="invalid"{% endif %}
        {% if field.disabled or not toggled %}disabled{% endif %}
        {% if bound_field.value != None and toggled %}value="{{ bound_field.value|unlocalize }}"{% endif %}
        {% endattrs %}>
    {% endwith %}
    {% endpart %}
{% endform %}


{% comment %} <div style="max-height:30em; max-width:60em; overflow: scroll;">
<pre>{% debug %}</pre>
</div> {% endcomment %}
