{% extends 'material/frontend/base_site.html' %}
{% load i18n material_form static %}
{% block page_title %}
    Custom Components
{% endblock %}

{% block content %}
<div class="left-panel">
  <div class="card">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card-content">{% form layout=form.layout %}{% endform %}</div>
      <div class="card-action">
        <div class="right-align">
          <button type="submit" class="waves-effect waves-light btn white-text">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
